<% if @topic.errors.full_messages.any? %>
  <%= link_to "Retour", forum_topic_path(@forum, @topic), class: "btn btn-primary mb-3" %>
<% end %>
<div class="card mb-4">
  <div class="card-body" id="reply">
    <h4 class="card-title"><%= fa_icon "reply", class:" mr-1" %> Répondre au sujet</h4>
    <div class="card-text mt-3">
      <% if @current_user %>
        <%= f.input :content, as: :text, prepend: fa_icon("comment-alt"), placeholder: "Message" %>
        <%= f.button :submit, value: "Valider", class: "btn-primary" %>
      <% else %>
        <div class="alert alert-warning">Vous devez être <b><%= link_to "inscris", new_user_registration_path %></b> et <b><%= link_to "connecté", new_user_session_path %></b> pour répondre au sujet</div>
      <% end %>
    </div>
  </div>
</div>
