<div class="card mb-4">
  <div class="card-body">
    <h4 class="card-title mb-0"><%= fa_icon "comment", class:" mr-1" %> <%= @forum.name %></h4>
  </div>
  <div class="card-text topics">
    <% if @forum.topics.count == 0 %>
      <div class="alert alert-info ml-4 mr-4">Aucun sujet n'a été posté</div>
    <% else %>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="text-center">
            <tr>
              <th scope="col" class="status"></th>
              <th scope="col" class="subject">Sujet</th>
              <th scope="col" class="author">Auteur</th>
              <th scope="col" class="nb">NB</th>
              <th scope="col" class="last">Dernier</th>
            </tr>
          </thead>
          <tbody>
            <% @topics.each do |topic| %>
              <tr onclick="Turbolinks.visit('<%= forum_topic_path(@forum, topic) %>');" class="pointer">
                <th class="text-center"><%= display_topic_status(topic.status) %></th>
                <td class="subject"><%= topic.title %></td>
                <td class="author text-center"><%= display_role_user(topic.user) %></td>
                <td class="nb text-center"><%= topic.count_messages-1 %></td>
                <td class="last text-center"><%= display_datetime(topic.last_message, nil, "short") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>

<%= will_paginate @topics, list_classes: %w(pagination justify-content-center), page_links: false %>

<%= render file: '/topics/new' %>