<%= simple_form_for resource, as: resource_name, url: session_path(resource_name), wrapper: :input_group do |f| %>

  <% if !params[:commit] %>
    <div class="alert alert-info">
      <%= fa_icon "info-circle", class: "mr-1" %> 
      Vous n'avez pas encore de compte ? <b><%= link_to "Inscrivez-vous !", new_user_registration_path %></b>
    </div>
  <% end %>

  <div class="card mb-4">
    <div class="card-body">
      <h4 class="card-title"><%= fa_icon "link", class:" mr-1" %> Connexion</h4>
      <div class="card-text mt-3">
        <%= f.input :username, prepend: fa_icon("user"), placeholder: "Nom d'utilisateur" %>
        <%= f.input :password, prepend: fa_icon("key"), placeholder: "Mot de passe" %>
        <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean, wrapper: :custom_boolean_switch %>
        <%= f.button :submit, value: "Se connecter", class: "btn-primary btn-size" %>
      </div>
    </div>
  </div>

<% end %>