<div class="card mb-4">
  <div class="card-body">
    <h4 class="card-title"><%= fa_icon "comment-dots", class:" mr-1" %> « <%= @topic.title %> »</h4>
    <%= link_to "Liste des sujets", forum_path(@forum), class: "btn btn-primary" %>
  </div>
</div>

<%= will_paginate @messages, list_classes: %w(pagination justify-content-center) %>

<div class="messages">
  <% @messages.each do |message| %>
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2" id="sidebar-avatar">
            <div class="text-center">
              <img class="rounded" style="height: 100px; width: 100px;" src="<%= message.user.avatar_url %>" alt="">
              <small class="mt-2"><b>Messages</b> : <%= message.user.count_messages %></small>
            </div>
          </div>
          <div class="col-md-10" id="col-avatar">
            <img class="rounded float-left mr-3" id="navbar-avatar" style="height: 50px; width: 50px;" src="<%= message.user.avatar_url %>" alt="">
            <div>
              <strong><%= message.user.username %></strong><br />
              <small>Posté <%= display_datetime(message.created_at, "text") %></small>
            </div>
            <hr />
            <%= message.content.bbcode_to_html.html_safe %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @messages, list_classes: %w(pagination justify-content-center) %>

<%= render file: '/messages/new' %>
