<div class="card mb-4">
  <div class="card-body">
    <h4 class="card-title"><%= fa_icon "comment-dots", class:" mr-1" %> « <%= @topic.title %> »</h4>
    <%= content_tag(:a, "Répondre", href: "#reply", class: "btn btn-primary") %>
    <%= link_to "Liste des sujets", forum_path(@forum), class: "btn btn-primary" %>
    <%= content_tag(:span,
          content_tag(:button, fa_icon("sync-alt"), class: "btn btn-primary"
        ), class: "float-right", onclick: "Turbolinks.visit('#{request.original_url}');") %>
  </div>
</div>

<%= will_paginate @messages, list_classes: %w(pagination justify-content-center) %>

<div class="messages">
  <% @messages.each do |message| %>
    <div class="card mb-4">
      <div class="card-body" id="<%= message.id %>">
        <div class="row">
          <div class="col-lg-2" id="sidebar-avatar">
            <span id="small">
              <img class="rounded mb-2" style="height: 100px; width: 100px;" src="<%= message.user.avatar_url %>" alt="">
              <div id="avatar-messages">
                <small>
                  <%= fa_icon "comment-alt", class: "mr-1" %> Messages : <%= message.user.count_messages %>
                </small><br />
                <small>
                  <%= fa_icon "coins", class: "mr-1" %> Argent : <%= sprintf("%g", message.user.coin) %> €
                </small>
              </div>
            </span>
          </div>
          <div class="col-lg-10" id="col-avatar">
            <img class="rounded float-left mr-3" id="navbar-avatar" style="height: 50px; width: 50px;" src="<%= message.user.avatar_url %>" alt="">
            <div>
              <strong><%= link_to display_role_user(message.user), user_path(message.user.username) %></strong><br />
              <small>Posté <%= display_datetime(message.created_at, "text") %></small>
            </div>
            <hr />
            <%= message.content.bbcode_to_html.gsub(/\n/, '<br/>').html_safe %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @messages, list_classes: %w(pagination justify-content-center) %>

<%= render file: '/messages/new' %>
