<div class="card mb-4">
  <div class="card-body">
    <%= link_to "Liste des sujets", forum_path(@forum), class: "btn btn-primary float-right" %>
    <h4 class="card-title"><%= fa_icon "comment-dots", class:" mr-1" %> <%= @topic.title %></h4>
  </div>
</div>
<% @messages.each do |message| %>
  <div class="card mb-4">
    <div class="card-body">
      <%= message.user.username %> : <%= message.content %>
    </div>
  </div>
<% end %>

<%= render file: '/messages/new' %>
