<header class="bg-image-full rounded-top rounded-bottom-0" style="padding-top: 19px;background-image: url(<%= @user.background_url %>); width: 700; height: 170px; background-size: cover;">
  <img class="img-fluid d-block ml-4 rounded" style="height: 130px; width: 130px;" src="<%= @user.avatar_url %>" alt="">
</header>

<div class="card rounded-top-0 mb-4">
  <span class="font-weight-bold ml-4 mt-2 mb-2">
    <%= @user.username %>
  </span>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="card mb-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="float-right"><%= display_role_grade(@user.role) %></span>
            <%= fa_icon "graduation-cap", class: "mr-1" %> <strong>Role</strong>
          </li>
          <li class="list-group-item">
            <span class="float-right"><%= @user.gender.present? ? display_gender(@user.gender) : "Non renseigné" %></span>
            <%= fa_icon "venus-mars", class: "mr-1" %> <strong>Genre</strong>
          </li>
          <li class="list-group-item">
            <span class="float-right"><%= @user.country.present? ? @user.country : "Non renseigné" %></span>
            <%= fa_icon "globe-europe", class: "mr-1" %> <strong>Pays</strong>
          </li>
          <li class="list-group-item">
            <span class="float-right"><%= @user.birthdate.present? ? display_date(@user.birthdate) : "Non renseigné" %></span>
            <%= fa_icon "birthday-cake", class: "mr-1" %> <strong>Date de naissance</strong>
          </li>
        </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="float-right"><%= @user.coin %></span>
            <%= fa_icon "coins", class: "mr-1" %> <strong>Argent</strong>
          </li>
          <li class="list-group-item">
            <span class="float-right"><%= display_distance_between(@user.last_seen_at) %></span>
            <%= fa_icon "clock", class: "mr-1" %> <strong>Dernière activité</strong>
          </li>
          <li class="list-group-item">
            <span class="float-right"><%= display_distance_between(@user.created_at) %></span>
            <%= fa_icon "calendar", class: "mr-1" %> <strong>Membre depuis</strong>
          </li>
          <li class="list-group-item">
            <span class="float-right">0</span>
            <%= fa_icon "comment-dots", class: "mr-1" %> <strong>Messages postés</strong>
          </li>
        </ul>
    </div>
  </div>

</div>

<% if @user.description.present? %>
<div class="card mb-4">
  <div class="card-body">
      <label><strong><%= fa_icon "comment-alt", class: "mr-1" %> Description</strong></label><br />
      <%= @user.description %>
    </div>
  </div>
<% end %>

<% if @user.music.present? %>
  <div class="card mb-4">
    <div class="card-body">
      <label><%= fa_icon "music", class: "mr-1" %> <strong>Musique</strong></label><br />
      <%= display_music(@user) %>
    </div>
  </div>
<% end %>