<div class="card mb-4">
  <h3 class="card-header"><i class="fas fa-comments mr-2"></i> Forums</h3>
  <ul class="list-group list-group-flush">
    <% Forum.all.each do |forum| %>
      <% if PermissionsService.can_access_to_forum?(current_user, forum) %>
        <%= link_to forum_path(forum), class: "list-group-item" do %>
          <%= fa_icon "chevron-circle-right", class: "mr-2" %> <%= forum.name %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="card mb-4">
  <h3 class="card-header"><i class="fas fa-globe mr-2"></i> En ligne (<%= @users_online.count %>)</h3>
  <div class="card-body">
    <% if @users_online.count == 0 %>
      Aucun utilisateur n'est connecté.
    <% end %>
    <% @users_online.each do |u| %>
      <%= link_to display_role_user(u), user_path(u.username) %>
    <% end %>
  </div>
</div>
