<%= simple_form_for resource, 
  as: resource_name,
  url: registration_path(resource_name),
  wrapper: :input_group,
  html: { method: :put, autocomplete: 'off' } do |f| %>

  <%= render partial: "users/shared/error_messages", locals: { f: f } %>
  
  <div class="card mb-4">
    <h5 class="card-header card-header-l"><%= fa_icon "address-card", class: "mr-1" %> Général</h5>
    
    <div class="card-body card-body-l">
      <%= f.input :username, prepend: fa_icon("user"), readonly: true, placeholder: "Nom d'utilisateur" %>
      <%= f.input :email, prepend: fa_icon("at"), placeholder: "Adresse email" %>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header card-header-l2"><%= fa_icon "user-secret", class: "mr-1" %> Authentification</h5>
    <div class="card-body card-body-l2">
      <%= f.input :password, prepend: fa_icon("key"), placeholder: "Mot de passe" %>
      <%= f.input :password_confirmation, prepend: fa_icon("check"), placeholder: "Confirmation du mot de passe" %>
    </div>
  </div>

  <%= f.button :submit, value: "Mettre à jour", class: "btn-secondary btn-block" %><br />

<% end %>