<%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), wrapper: :input_group, data: { turbo: false } do |f| %>
 
  <% if !params[:commit] %>
    <div class="alert alert-info">
      <%= fa_icon "info-circle", class: "mr-1" %> 
      Vous avez déjà un compte ? <b><%= link_to "Connectez-vous !", new_user_session_path %></b>
    </div>
  <% end %>

  <%= render partial: "users/shared/error_messages", locals: { f: f } %>

  <div class="card mb-4">
    <div class="card-body">
      <h4 class="card-title"><%= fa_icon "user-plus", class:" mr-1" %> Inscription</h4>
      <div class="card-text mt-3">
      <%= f.input :username, prepend: fa_icon("user"), placeholder: "Nom d'utilisateur" %>
      <div id="color-picker-1">
        <%= f.input :email, prepend: fa_icon("at"), placeholder: "Adresse email" %>
      </div>
      <%= f.input :password, prepend: fa_icon("key"), placeholder: "Mot de passe" %>
      <%= f.input :password_confirmation, prepend: fa_icon("check"), placeholder: "Confirmation du mot de passe" %>
      <%= f.button :submit, value: "S'inscrire", class: "btn-primary btn-size" %>
      </div>
    </div>
  </div>

<% end %>
