<%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), wrapper: :input_group do |f| %>
 
  <% if !params[:commit] %>
    <div class="alert alert-info">
      <%= fa_icon "info-circle", class: "mr-1" %> 
      Vous avez déjà un compte ? <b><%= link_to "Connectez-vous !", new_user_session_path %></b>
    </div>
  <% end %>

  <% if f.error_notification %>
    <div class="alert alert-danger">
      <%= fa_icon "exclamation-circle", class: "mr-1" %>
      Veuillez résoudre les erreurs ci-dessous
    </div>
  <% end %>

  <div class="card mb-4">
    <h5 class="card-header card-header-l2"><%= fa_icon "user-plus", class: "mr-1" %> Inscription</h5>
    
    <div class="card-body card-body-l2">
      <%= f.input :username, prepend: fa_icon("user"), placeholder: "Nom d'utilisateur" %>
      <%= f.input :email, prepend: fa_icon("at"), placeholder: "Adresse email" %>
      <%= f.input :password, prepend: fa_icon("key"), placeholder: "Mot de passe" %>
      <%= f.input :password_confirmation, prepend: fa_icon("check"), placeholder: "Confirmation du mot de passe" %>
      <%= f.button :submit, value: "S'inscrire", class: "btn-info btn-size" %>
    </div>
  </div>

<% end %>